<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Admin||Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- booostrap icons cdn  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="../../public/style/admin-dashboard.css">
</head>

<body>
    <!-- navbar -->
    <%-include('_admin-nav') %>
        <!-- navbar -->

        <div class="container-fluid">
            <div class="row">
                <!-- sidebar -->
                <%-include('_admin-sidebar') %>
                    <!-- sidebar -->

                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                        <div>


                            <h3 class="pt-5 text-center">Site Traffic</h3>

                        </div>

                        <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

                        <h2>Site Traffic</h2>
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Country</th>
                                        <th>Amount Of Housemaids</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                        <%for(let i=0;i<countryArr.length;i++){%>
                                            <tr>
                                            <td>
                                                <%=countryArr[i]%>
                                            </td>
                                            <td>
                                                <%=countryCountArr[i]%>
                                            </td>
                                            <%};%>
                                        </tr>
                                       


                                  


                                </tbody>
                            </table>
                        </div>
                    </main>
            </div>
        </div>












        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
        <!-- circular progress bar -->
        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.0/circle-progress.min.js'></script>
        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>

        <!-- Graphs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <!-- var xValues = ["Italy", "France", "Spain", "USA", "Argentina"]; -->
        <!-- var yValues = [55, 49, 44, 24, 15]; -->
        <!-- var yValues = '<   %- JSON.stringify(countryCountArr) %>'; -->
        <!-- var xValues = '<1%- JSON.stringify(countryArr) %>'; -->
        <script>
            var ctx = document.getElementById("myChart");
         var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
            var yValues =  [55, 49, 44, 24, 15];
            var barColors = ["red", "green", "blue", "orange", "brown"];

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: xValues,
                    datasets: [{
                        data: yValues,
                        lineTension: 0,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(155, 159, 164, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 235, 86, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(201, 203, 207, 0.2)'
                        ],
                        //backgroundColor: 'transparent',
                        borderColor: '#007bff',
                        borderWidth: 4,
                        pointBackgroundColor: '#007bff'
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: false,
                    }
                }
            });
        </script>
</body>

</html>