<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <!-- style sheet -->
  <link rel="stylesheet" href="style.css">

<body>
 



  <form action="/courses/imgAdd" method="POST" enctype="multipart/form-data">
    <h3>Upload Profile Photo</h3>
    <div class="input-group">
      <input type="file" class="form-control" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="imgFileResource" accept="image/*">
      <input type="submit" class="btn btn-outline-secondary" value="Upload">
    </div>




    <!-- <input type="file" name="imgFileResource" accept="image/*">
    <input type="submit" class="btn btn-light"> -->
  </form>
  <br><br>
  <div class="card">
    <% courses.forEach(course=>{ %>
      <% if(course.course_Img ){ %>
        <% console.log("inside") %>
          <img class="card_image" src="../../<%= course.course_Img %>" alt="profile" height="200px" width="300px">
          <%}else{%>
            <img class="card_image" src="" alt="user-profile">
            <!-- can use random api img  -->
            <% } %>
              <% }); %>


  </div>






  <!-- Optional JavaScript -->
  <script src="script.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <!-- circular progress bar -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.0/circle-progress.min.js'></script>


</body>

</html>