<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- style sheet -->
  <link rel="stylesheet" href="/style/style.css">
  <!-- page title -->
  <title>NeighbourMaid | Home</title>
</head>

<body>
  <!-- navbar -->
  <%- include('_navbar')%>
    <!-- navbar -->

    <!-- poster-section -->
    <section id="poster-section">
      <div class="container">
        <div class="row">
          <div class="col-5 align-self-center ">
            <h2 class="mx-1 pb-2 style-1">Tired of doing Daily Chores?</h2>
            <h2 class="mx-1 pb-5 style-1">Are You too Busy?</h2>
            <h2 class="pt-5">Get a</h2>
            <p class="pt-2 pl-4 highlight-label"> professional</p>

          </div>
          <div class="col-7">
            <img class="animated-worker center-block"
              src="./img/Free Vector _ Cleaners with cleaning products housekeeping service.png" alt="">

          </div>
        </div>
      </div>
    </section>
    <!-- end of poster-section -->

    <!-- howto-section -->
    <section id="howto-section">
      <div class="container">
        <div class="title">
          <h2>How to Find the best maid</h2>
          <div class="underline"></div>
        </div>
        <div class="row">
          <div class="col-5 align-self-center ">
            <h2 class="mx-1 pb-2 style-1">Experienced Maids</h2>
            <h2 class="mx-1 pb-2 style-1">Trained Maids</h2>
            <h2 class="mx-1 pb-2 style-1">Educated Maids</h2>
            <h2 class="mx-1 pb-5 style-1">Friendly Maids</h2>

            <button type="button" class="btn  btn-info explore-btn  mt-5 ml-5">Explore Now</button>
          </div>
          <div class="col-7 ">
            <ol type="1">
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat dolor velit eum tempore at?
              </li>
              <br>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat dolor velit eum tempore at?
              </li>
              <br>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat dolor velit eum tempore at?
              </li>
              <br>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat dolor velit eum tempore at?
              </li>
              <br>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat dolor velit eum tempore at?
              </li>

            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- end of poster-section -->

    <!-- frequently asked Questions -->
    <section id="about-us-section">
      <div class="container">
        <div class="title" style="margin-bottom: 0rem;">
          <h2>About Us</h2>
          <div class="underline"></div>
        </div>
        <!-- question -->
        <div class="about-us pt-4 pb-4">
          <div class="row">
            <div class="col-4">
              <p>Who We Are?
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eaque consectetur fugiat nisi! Eos,
                tempore officiis nihil, ratione est perferendis in similique ipsum, expedita ab velit architecto
                assumenda
                accusamus labore..</p>
            </div>
            <div class="col-4">
              <p>Who We Are?
              <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae aliquam nobis iure perspiciatis quia.
                Est
                quis, debitis iusto libero eaque saepe dicta. Aperiam, veniam harum?.</p>
            </div>
            <div class="col-4">
              <p>Who We Are? </p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cum dolore quos aut magni nemo,
                voluptatum, dolorum culpa, adipisci ex corrupti. Autem nesciunt ipsam excepturi expedita totam
                consequatur
                magnam architecto iusto, dolorem quae. Repudiandae, consequuntur?.</p>
            </div>
          </div>

    </section>
    <!-- end of frequently asked Questions -->

    <!-- review section -->
    <section id="review-section pt-5">
      <div class="container">
        <!-- question-->
        <div class="title">
          <h2>Our Latest Testimonials</h2>
          <div class="underline"></div>
        </div>
        <!-- review -->
        <article class="review">
          <div class="img-container">
            <img src="./person-1.jpeg" id="person-img" alt="" />
          </div>
          <h4 id="author"> Cherry Ann </h4>
          <p id="job">BI Analyst</p>
          <p id="info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
            asperiores debitis incidunt, eius earum ipsam cupiditate libero?
            Iste, doloremque nihil?
          </p>
          <!-- prev next buttons-->
          <div class="button-container">
            <span class="prev-btn">
              <i class="fas fa-caret-square-left fa-3x"></i>
            </span>
            <span class="next-btn">
              <i class="fas fa-caret-square-right fa-3x"></i>
            </span>
          </div>
        </article>
      </div>
      <!-- end of review section -->

      <!-- footer -->
      <%- include('_footer')%>
        <!-- footer -->


        <!-- Optional JavaScript -->
        <script src="script.js"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>

</body>

</html>