<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">


  <!-- style sheet -->
  <!-- <link rel="stylesheet" href="regstyle.css"> -->
  <style>
    * {
      font-size: 15px;
    }
  </style>
  <!-- #message-alert{
    display:none;
  } -->




  <!-- page title -->
  <title>NeighbourMaid | Register</title>


</head>

<body>
  <!-- navbar -->
  <%- include('_navbar')%>
    <!-- navbar -->


    <section class="vh-100" style="background-color:#393f81;">
      <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-md-6 col-lg-7 d-none d-md-block">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                    alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                </div>
                <div class="col-md-6 col-lg-5 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">

                    <!-- alert message :sucessfull-->
                    <div class=container" id="message-alert">
                     
                    </div>
                    <!-- alert message -->




                    <!-- registration form  -->
                    <h5 class="fw-normal m-3 pb-3" style="letter-spacing: 1px;">Register your account</h5>
                    <form id="registration-form" action="/register" method="POST">

                      <!-- <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" class="form-control form-control-lg border border-secondary" name="fName" />
                            <label class="form-label" for="first Name">First name</label>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" class="form-control form-control-lg border border-secondary" name="lName" />
                            <label class="form-label" for="last Name">Last name</label>
                          </div>
                        </div>
                      </div> -->

                      <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email Address</label>
                        <input type="text" class="form-control form-control-lg border border-secondary " name="email"
                          id="email" />
                        <!-- <div class="valid-feedback">
                          valid email address
                        </div> -->
                        <div class="invalid-feedback">
                          Please provide a valid User Name.
                        </div>
                        <!-- <small>Error message</small> -->
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="userType">I am ...</label>
                        <select
                          class="form-select form-control form-control-lg form-select-lg mb-3 border border-secondary"
                          aria-label=".form-select-lg example" id="userType">
                          <option selected value=""> Please select</option>
                          <option value="Housemaid">House Maid</option>
                          <option value="Houseowner">House Owner</option>
                        </select>
                        <div class="invalid-feedback">
                          Please provide a valid User Type.
                        </div>
                        <!-- <small>Error message</small> -->
                      </div>


                      <div class="form-outline mb-4">
                        <label class="form-label" for="address">User Name</label>
                        <input type="text" class="form-control form-control-lg border border-secondary" name="userName"
                          id="userName" />
                        <!-- <div class="valid-feedback">
                          user Name can be used
                        </div> -->
                        <div class="invalid-feedback">
                          Please provide a valid User Name.
                        </div>
                        <!-- <small>Error message</small> -->
                      </div>


                      <div class="form-outline mb-4">
                        <label class="form-label" for="repeat-password">Enter your password</label>
                        <input type="password" class="form-control form-control-lg border border-secondary"
                          name="password" id="password" />
                        <!-- <div class="valid-feedback">
                          Looks good!
                        </div> -->
                        <div class="invalid-feedback">
                          Please provide a valid User Name.
                        </div>
                        <!-- <small>Error message</small> -->
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="repeat-password">Repeat your password</label>
                        <input type="password" class="form-control form-control-lg border border-secondary"
                          name="cPassword" id="cPassword" />
                        <!-- <div class="valid-feedback">
                          Looks good!
                        </div> -->
                        <div class="invalid-feedback">
                          Please provide a valid User Name.
                        </div>
                        <!-- <small>Error message</small> -->
                      </div>

                      <div class="pt-1 mb-4">
                        <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                      </div>


                    </form>



                    <!-- end of form -->
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a href="#!"
                        style="color: #393f81;">Login here</a></p>

                    <div class="d-flex flex-row align-items-center justify-content-end justify-content-lg-end">
                      <p class="lead fw-normal mb-0 mr-3 me-3" style="font-weight:bold">Sign in with </p>
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-google"></i>
                      </button>


                    </div>
                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a>



                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


   



    <!-- footer -->
    <%- include('_footer')%>
      <!-- footer -->
      <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
      <!-- clientside validation -->
      <script src="/regscript_user.js"></script>

</body>

</html>